*{
    font-family: 'Raleway', sans-serif;
}

.background {
    background-image: url(images/Fondo-header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.wrapper{
    background-image: url(images/Fondo-header-2.jpg);
    padding: 0 20px 0 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.row{
    width: 900px;
    height: 550px;
    border-radius: 16px;
    background: #fff;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
}
.side-image{
    background-image: url("images/Fondo-header-3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 16px 0 0 16px;
}
img{
    width: 156px;
    position: absolute;
    top: -56px;
    left: -71px;
}
.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    
}
.logo p{
    color: #fff;
    font-size: 18px;
}
i{
    font-weight: 400;
    font-size: 15px;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.input-box{
    width: 330px;
    box-sizing: border-box;
}
.input-box header{
    font-weight: 700;
    text-align: center;
    margin-bottom: 45px;
    margin-top: 45px;
}
.input-field{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px;
}
.input{
    height: 45px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    outline: none;
    margin-bottom: 20px;
    color: #40414a;
    overflow-y: hidden;
    flex-wrap: wrap;
    
}
.input-box .input-field label{
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    transition: .5s;
}
.input-field .input:focus ~ label{
    top: -10px;
    font-size: 13px;
}
.input-field .input:valid ~ label{
    top: -10px;
    font-size: 13px;
    color: #5d5076;
}
.input-field .input:focus, .input-field .input:valid{
    border-bottom: 1px solid #0055b8;
}

.boton-modal{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px;
    text-align: center;
}
.boton-modal label{
    padding: 10px 15px;
    background-color: #0055b8;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
    border-radius: 20px;
}
.boton-modal label:hover{
    background-color: #ff4d00;
}

#btn-modal{
    display: none;
}
.container-modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(144, 148, 150, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#btn-modal:checked ~ .container-modal{
    display: flex;
}
.content-modal{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    margin: 0px 10px;
}
.content-modal h2{
    margin-bottom: 15px;
    text-align: center;
}
.content-modal p{
    padding: 15px 0px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    text-align: center;
}
.content-modal .btn-cerrar{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}
.content-modal .btn-cerrar label{
    padding: 7px 10px;
    background-color: #0055b8;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: all 300ms ease;
}
.content-modal .btn-cerrar label:hover{
    background-color:#ff4d00;
}
.cerrar-modal{
    width:100%;
    height: 100vh;
    position: absolute;
    top:0; left: 0;
    z-index: -1;
}


@media only screen and (max-width: 768px){
    .side-image{
        border-radius: 10px 10px 0 0;
    }
    img{
        display: none;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 47%;
    }
    .logo{
        display: none;
        position: absolute;
        top: 70%;
        text-align: center;
        
    }
    .logo p,i{
        font-size: 17px;
    }
    .row{
        max-width: 420px;
        width: 100%;
    }
}