

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Raleway', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image:
        url(images/Fondo-header.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 70vh;
        display: flex;
        align-items: center;
}

.header-content img{
    padding-top: 70px;
    width: 530px;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    padding: 0px 75px;
    background-color: #0055b8;
}

.logo {
    width: 70px;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}
.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #FFFDFC;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    color: #e8e8e8;
    background-color: #ff4d00;
}

.menu .navbar ul li a:active{
    background-color: #ff4d00db;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    text-align: center;
}

.header-content h1 {
    font-size: 75px;
    line-height: 80px;
    color: #F9FAFC;
    margin-bottom: 35px;
    padding-top: 91px;
}

.header-content p {
    font-size: 20px;
    color: #fff;
    padding: 0 250px;
    margin-bottom: 25px;
    margin-top: -44px ;
}

.btn-1{
    display: inline-block;
    padding: 11px 35px;
    background-color: #0055b8;
    Color: #F9FAFC; 
    border-radius: 20px;
    margin-top: 30px;
}

.btn-1:hover {
    background-color: #ff4d00;

}

.btn-1:active {
    background-color: #ff4d00db;

}

.soluciones {
    padding: 110px 0;
    background-color: #fff;
    position: relative;
}
.soluciones-content {
    text-align: center;
}

.soluciones-content h2 {
    font-size: 45px;
    line-height: 60px;
    color: #0055b8;
    padding: 0 250px;
    margin-bottom: -10px;
}

.txt-p {
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
    margin-top: 10px;
    text-align: justify;
}

.soluciones-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.solu-1{
    padding: 0 25px;
}

.solu-1 img{
    width: 200px;
}

.solu-1 h3 {
    color: #0055b8;
    font-size: 20px;
    margin-bottom: 15px;
}

.caract {
    background-image: 
        url(images/Fondo-services.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding: 100px 0;
}

.caract-content {
    text-align: center;
}

.caract-content  h2{
    font-size: 45px;
    line-height: 70px;
    margin-bottom: 50px;
    color: #F9FAFC;
}

.caract-content p {
    font-size: 16px;
    color: #fff;
    margin-top: 40px;
    padding: 0 25px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.caract-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.caract-1{
padding: 0 52px;
}

.caract img {
    width: 45px;
    margin-bottom: 15px;
}

.caract-1 h3 {
    color: #fff;
    font-size: 18px;
}

.general {
    display: flex;
}

.general-1 {
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #fff;
}

.general-2 {
    background-image: url(images/general-img1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}


.general-3 {
    background-image: url(images/general-img2.jpg) ;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

h2 {
    font-size: 44px;
    line-height: 60px;
    margin-bottom: -19px;
    color: #0055b8;
}

p {
    font-size: 16px;
    color: #414247;
    margin: 25px 0 45px 0;
}

.caract2 {
    padding: 100px 0;
    text-align: center;
}

.caract2-content {
    display: flex;
    justify-content: space-between;
}

.caract2-1 {
    padding: 15px 55px;
}

.caract2-1 img{
    width: 200px;
    border-radius: 15px;
    margin-bottom: 15px;
}
.caract2-1 h3 {
    font-size: 25px;
    color: #0055b8;
}

.footer {
    padding: 0px 0;
    background-color: #ff4d00;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content img {
    width: 150px;
    margin: 10px;
    padding-top: 10px;
}

.footer-content h3 {
    font-size: 18px;
    color: #F9FAFC;
    margin-bottom: 15px;
}

@media(max-width:991px){
    .menu{
        padding: 30px;
        height: 70px;
    }

    .menu label {
        display: initial;
    }
     

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #0055b8;
        opacity: 99%;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header {
        min-height: 0vh;
    }
    .header h1 {
        font-size: 55px;
    }


    .header-content {
        padding: 100px 30px;
    }

    .header-content p {
        padding: 0;
        font-size: 16px;

    }

    .header-content img {
        width: 280px;

    }

    .soluciones {
        padding: 30px;
    }

    .soluciones-content h2 {
        font-size: 30px;
        line-height: 30px;
        padding: 0;
        padding: 15px;
    }
.txt-p {
    padding: 0;
}

.soluciones-group {
    flex-direction: column;
    margin-bottom: 0;
}

.soluciones-img {
    display: none;
}


.caract {
    padding: 30px;
}

.caract-group {
    flex-direction: column;
    margin-bottom: 0;
}

.caract-content h2{
    font-size: 30px;
    line-height: 30px;
    margin-top: 15px;
}

.caract-1 {
    margin-bottom: 56px;
}


.general {
    flex-direction: column;
}

.general-1 {
    width:100%;
    padding: 30px;
    text-align: center;
}

.general-1 h2{
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 13px;
    margin-top: 16px;
}

.general-2, .general-3 {
    display: none;
}

.caract2 {
    padding: 30px;
}

.caract2 h2 {
    font-size: 30px;
    line-height: 30px;
}

.caract2-content {
    flex-direction: column;
}

.caract2-1 {
    padding: 0;
    margin-bottom: 45px;   
}

.caract2-1 p{
    margin-bottom: 13px;
    margin: 4px 0 45px 0;
}

.footer-content {
    padding: 30px;
    flex-direction: column;
    text-align: center;
    justify-content:left;
    display: flex;
    flex-wrap: nowrap;
}

}
